#campusList, #studentList, #singleSchoolContainer{
    margin: 15px;
}

#campusContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.campus{
    margin: 15px;
    text-align: center;
}

body{
    font-family: 'Roboto', sans-serif;
}

html, body{
    margin: 0
}

html{
    background-color: #f44242
}

.editDeleteButtonContainer{
    display: flex
}

.singleStudentContainer{
    display: flex;
    flex-wrap: wrap;
    
}



.singleStudent{
    margin: 30px
}

.newStudentButtonContainer{
    margin-top: 50px;
    margin-left: 20px;
}



